.tableclass{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    flex-shrink: unset;
    align-items:flex-start;
    background-color: darkgray;
    width: 20%;
    height: 25%;
    margin-left: 5%;
    padding-left: 1%;
    margin-top: 5%;
    padding-top: 1%;
    padding-bottom: 1%;

}
.error{
    color: darkred;
}
.gps{
    display: flex;
}